.property_img{
    width: 100%;
    max-width: 200px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 10px;
    transition: 0;

}
.property_img:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transform: scale(1.1);
}

.property_img_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width:786px) {
    .property_img{
        width: 100%;
        max-width: 150px !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border-radius: 10px;
        transition: 0;
    
    }
    .property_img_cont{
        justify-content: center;
        margin-top: 30px;
    }
}