@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.homepagetext{
font-size: 2.8em;
font-weight: 600;
text-transform: capitalize;
font-family: Poppins,sans-serif;

}
.homepagetextcolor{
    color: red;
    font-family: Poppins,sans-serif;
    font-size:1em;
font-weight: 600;

}
.shareroomtext{
    font-size: 16px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Poppins,sans-serif;
    color: gray;
    font-weight: 300;
}
.customer_row{
    display: flex;
    justify-content: center;
}
.customer_column{
    display: flex;
    align-items: center;
    justify-content:center;
}
.homepageimg{
    width: 100%;
    max-width: 380px;
    
}
.homepagesection{
    /* height: 100vh; */
    margin-top: 30px;

}
.download_by_google_btn{
     width: 100%;
     max-width: 150px;
     height:100%;
     max-height:40px; 
}
@media screen and (max-width:767px) {
    .homepagesection{
        margin-top: 70px  !important;
    }
    .customer_row{
      gap: 15px;
    }
    .customer_column{
        text-align: center;
    }
    .homepagetext{
        font-size: 2em;
        font-weight: 600;
        
        }
        .homepagetextcolor{
            font-size: 1em;
        font-weight: 600;
        
        }
        .shareroomtext{
            font-size: 1em; 
            font-weight: 300;
        }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .homepagesection{
        margin-top: 70px  !important;
        height: 30vh;
    }
    .customer_row{
      gap: 35px;
    }
  
    .homepagetext{
        font-size: 1.8em;
        font-weight: 600;
        
        }
        .homepagetextcolor{
            font-size: 1em;
        font-weight: 600;
        
        }
        .shareroomtext{
            font-size: 0.8em; 
            font-weight: 300;
        }
        .download_by_google_btn{
            width:unset;
            max-width: 150px;
            height:100%;
            max-height:40px; 
       }
}