/* /* .service_img_cont{
    padding: 20px;
    margin-top: 40px;

}
.service_img_cont ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
.service_img_cont ul li {
    list-style-type: none;
}
.service_img_cont ul li img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.5s;
}
.service_img_cont ul li img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.05);
}
*/ .equal-height-image {
    width: 200px;
    height: 200px;
    /* Adjust the height as needed to make all images the same size */
}