.service_section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_img_cont{
    padding: 20px;
    margin-top: 40px;

}
.service_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px;

}

.equal-height-image {
    width: 100%;
    max-width: 300px !important;
    height: 100% !important;
    min-height: 200px !important;
    max-height: 200px !important;
    transition: transform 0.5s;
    mix-blend-mode: darken;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
}
.equal-height-image:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    transform: scale(1.05);
}
@media screen and (max-width:767px) {
    .equal-height-image {
        width: 100%;
        max-width: 100px !important;
        height: 100% !important;
        min-height: 100px !important;
        max-height: 100px !important;
    }
    .service_section{
        height: 80vh;
    }
}
